<html>
    <head>
        <title>Testing</title>
        @*        <link rel="stylesheet" media="screen" type="text/css" href="mystyle.css" />*@
        
        @{
            Style.Include("mystyle.css").AtHead();
        }

    </head>
    <body>
        <p>==================</p>
        <h2>@T("Hello World")</h2>
        <p>From home view</p>
        <p>==================</p>
    </body>

</html>